<mat-sidenav-container class="sidenav-main-container">
  <mat-sidenav class="sidenav-slider" #sidenav mode="side" opened="true">
    <ng-container>
      <div class="sidenav-list-container" (click)="onChangeView('details-layout', 0)">
        <span class="fa fa-paper-plane " [ngClass]="{'selected-option': selectedIndex == 0}"></span>
      </div>
      <div class="sidenav-list-container" (click)="onChangeView('data-table', 1)">
        <span class="fa fa-trash" [ngClass]="{'selected-option': selectedIndex == 1}"></span>
      </div>
      <div class="sidenav-list-container">
        <span class="fa fa-briefcase"></span>
      </div>
      
      <div class="sidenav-list-container">
        <span class="fa fa-flag"></span>
      </div>
      <div class="sidenav-list-container">
        <span class="fa fa-tag"></span>
      </div>
      <div class="sidenav-list-container">
        <span class="fa fa-shopping-cart"></span>
      </div>

    </ng-container>
  </mat-sidenav>

  <mat-sidenav-content style="padding: 20px;">
    
    <router-outlet></router-outlet>
    
  </mat-sidenav-content>
</mat-sidenav-container>


